.type-filter {
  /* margin-bottom: 1.5rem; */
}

.filter-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.filter-buttons button {
  padding: 5px 20px;
  /* background-color: var(--bg-component); */
  background-color: transparent;
  border: 1px solid #ffffff23;
  border-radius: 5px;
  color: #ffffffa9;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.filter-buttons button:hover {
  color: gold;
}

.filter-buttons button.active {
  color: gold;
  border-color: gold;
}

.filter-buttons button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(var(--primary-rgb), 0.4);
}

@media (max-width: 700px) {
  .filter-buttons {
    gap: 0.3rem;
  }
  .filter-buttons button {
    padding: 2px 10px;
    font-size: 0.7rem;
  }
}


@media (max-width: 520px) {
  .filter-buttons {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0rem;
    width: 100%;
  }
  .filter-buttons button:first-child {
    padding-top: 5px;
  }
  .filter-buttons button {
    padding: 20px 15px;
    font-size: 1rem;
    border-top: none ;
    border-inline: none ;
    border-radius: 0;
    width: 100%;
  }


}